transformers~=4.24.0
pandas~=1.2.5
scikit-learn~=1.2.0
spacy==3.5.0
numpy~=1.21.5
nltk~=3.7
rouge~=1.0.1
tqdm~=4.64.1
torch~=1.13.1
pytorch-lightning==1.9.2
evaluate>=0.4.0
matplotlib>=3.5.3
skweak>=0.3.3
sentence_transformers>=2.0.0
seqeval>=1.2.2
bert_score>=0.3.13
scipy>=1.7.1
torchmetrics>=0.6.0
scipy>=1.7.1
skweak>=0.3.3